{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"]
      }
    }],
    "react",
    "stage-0",
    "flow"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": ["react-optimize"]
    },
  },
  "plugins": [
    "transform-es2015-arrow-functions",
    "syntax-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {"regenerator": true}],
    ["typecheck", {
      "disable": {
        "production": true
      }
    }]
  ]
}